<h2>Expense Types</h2>

<table>
    <tr>
        <td>Code:</td>
        <td><input #code /></td>
    </tr>
    <tr>
        <td>Description:</td>
        <td><input #description /></td>
    </tr>
</table>
<button (click)="addType(code.value,description.value); code.value=''; description.value='';">Add</button>

<br/><br/><hr/><br/>

<table border="1">
    <tr *ngFor="let type of types">
	<td>{{type.code}}</td>
	<td>{{type.description}}</td>
        <td><button (click)="updateType(type); $event.stopPropagation()">E</button></td>
        <td><button (click)="deleteType(type); $event.stopPropagation()">X</button></td>
    </tr>
</table>