<div *ngIf="expense">
    <h2>Expense details</h2>
    <div>
            <label>Date: </label>
            <input type="date" [(ngModel)]="expense.date" placeholder="date"/>
    </div>
    <div>
            <label>Type: </label>
            <select [(ngModel)]="expense.type" [compareWith]="compareTypes">
                <option *ngFor="let type of types" [ngValue]="type">
                  {{type.description}}
                </option>
            </select>
    </div>
    <div>
            <label>Value: </label>
            <input [(ngModel)]="expense.value" placeholder="value"/>
    </div>
    <div>
            <label>Notes: </label>
            <input [(ngModel)]="expense.notes" placeholder="notes"/>
    </div>
    <button (click)="goBack()">Back</button>
    <button (click)="save()">Save</button>
</div>